<div class="row">
  <div class="col-xs-8 col-xs-offset-2">

    <div class="sign_in">
      <mark>会員の方はこちらからログイン</mark>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table border="0">
        <tr>
          <th>メールアドレス</th>
          <td style="width:500px">
            <% f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </td>
        </tr>
        <tr>
          <th>パスワード</th>
          <td style="width:500px">
            <% f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </td>
        </tr>
      </table>
      <div style="float:right;">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "=>パスワードを忘れた方はこちら", "#" %><br />
        <% end %>
      </div>
      <div class="actions">
        <%= f.submit "ログイン", class:"btn btn-primary", style:"width:150px" %>
      </div>
    <% end %>

    <div class="sign_up_page">
      <mark>登録がお済みでない方</mark>
      <p><%= render "members/shared/links" %>から新規登録を行ってください。</p>
    </div>


  </div>
</div>