<h1 class="page-tatle"><mark>パスワード変更</mark></h1>
<div class="row">
  <div class="col-xs-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "layouts/error_message", title: resource %>

      <div class="field hidden">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      

      <div class="field margin-30">
        <%= f.label :current_password, "現在のパスワード" %><br>
        <%= f.password_field :current_password, autocomplete: "current-password", autofocus: true, class: "form-control" %>
      </div>

      <div class="field margin-30">
        <%= f.label :password, "新しいパスワード" %><br>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field margin-30">
        <%= f.label :password_confirmation, "新しいパスワード（確認用）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="actions margin-30">
        <%= f.submit "パスワードを変更する", class: "btn btn-primary", style:"width:100px" %>
      </div>
    <% end %>
    <%= link_to "戻る", :back, class: "margin-30" %>
  </div>
</div>


