<%= javascript_include_tag "application" %>

  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="sign_up">
        <mark>新規会員登録</mark>
      </div>

      

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <table class="table table-borderless">
        <tr>
          <div class="field">
            <td>名前</td>
            <td>（姓）</td>
            <td>
              <% f.label :last_name %>
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
            </td>
            <td>（名）</td>
            <td>
              <% f.label :first_name %>
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
            </td>
          </div>
        </tr>

        <tr>
          <div class="field">
            <td>フリガナ</td>
            <td>（セイ）</td>
            <td>
              <% f.label :kana_last_name %>
              <%= f.text_field :kana_last_name, autofocus: true, autocomplete: "kana_last_name", class: "form-control" %>
            </td>
            <td>（メイ）</td>
            <td>
              <% f.label :kana_first_name %>
              <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "kana_first_name", class: "form-control" %>
            </td>
          </div>
        </tr>

        <tr>
          <div class="field">
            <td>メールアドレス</td>
            <td></td>
            <td>
              <% f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </td>
          </div>
        </tr>

        <tr>
          <div class="field">
            <td>郵便番号(ハイフンなし)</td>
            <td></td>
            <td>
              <% f.label :postal_code %>
              <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control" %>
            </td>
          </div>
        </tr>

        <tr>
          <div class="field">
            <td>住所</td>
            <td></td>
            <td colspan="3">
              <% f.label :address %>
              <%= f.text_field :address, :size=>"60", autofocus: true, autocomplete: "address", class: "form-control" %>
            </td>
          </div>
        </tr>

        <tr>
          <div class="field">
            <td>電話番号(ハイフンなし)</td>
            <td></td>
            <td>
              <% f.label :phone_number %>
              <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %>
            </td>
          </div>
        </tr>

        <tr>
          <div class="field">
            <td>パスワード</td>
            <td></td>
            <td>
              <% f.label :password %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </td>
          </div>
        </tr>

        <tr>
          <div class="field">
            <td>パスワード確認</td>
            <td></td>
            <td>
              <% f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </td>
          </div>
        </tr>

      </table>
      <div class="actions">
        <%= f.submit "新規登録", class:"btn btn-success" %>
      </div>
      
      <% end %>
      

      <div class="sign_in_page">
        <mark>既に登録済みの方</mark>
        <p><%= render "members/shared/links" %>からログインしてください</p>
      </div>
    </div>
    <div class="col-xs-1"></div>
  </div>