<div class="row">
  <div class="col-xs-2">
    <div class="category border">
      <div class="c-search">
        <h4>ジャンル検索</h4>
      </div>
      <!--eachを使用予定-->
      <div class="c-name">
        <p>ジャンル名</p>
      </div>
      <div class="c-name">
        <p>ジャンル名</p>
      </div>
      <div class="c-name">
        <p>ジャンル名</p>
      </div>
      <div class="c-name">
        <p>ジャンル名</p>
      </div>
      <div class="c-name">
        <p>ジャンル名</p>
      </div>
      <!--eachを使用予定-->
    </div>
  </div>
  <div class="col-xs-9">
    <div class="mv-image">
    <div class="description">
    <p>ようこそ、NaganoCakeへ！</p>
    <p>このサイトは、ケーキ販売のECサイトになります。</p>
    <p>会員でない方も商品の閲覧はできますが、</p>
    <p>購入には会員登録が必要になります。</p>
    </div>
    </div>
  </div>
  <div class="col-xs-1"></div>
</div>
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-10">
    <h2>オススメ商品</h2><br>
    <!--eachを使用予定-->
    <div class="product">
      <div class="p-image"></div>
      <%= link_to "商品名", "#" %>
      <p>¥0,000</p>
    </div>
    <div class="product">
      <div class="p-image"></div>
      <%= link_to "商品名", "#" %>
      <p>¥0,000</p>
    </div>
    <div class="product">
      <div class="p-image"></div>
      <%= link_to "商品名", "#" %>
      <p>¥0,000</p>
    </div>
    <div class="product">
      <div class="p-image"></div>
      <%= link_to "商品名", "#" %>
      <p>¥0,000</p>
    </div>
    <!--eachを使用予定-->
    <div class="see-more clearfix">
    <%= link_to "もっと見る>", "#", class: "btn btn-default" %>
    </div>
  </div>
</div>