<script>
//直リンク禁止//
  var refinfo=document.referrer;
  if (refinfo){
  }else{
    location.href = "http://localhost:3000/"
  }
//直リンク禁止//
</script>

<div class="cart-title" style="margin-left: 5%;">
  <mark style="font-size: 20px;">注文情報確認</mark>
</div>

<div class="row">
  <div class="col-xs-9">
    <table class="table table-bordered">
      <tr>
        <td id="c-table" style="width:400px;">商品名</td>
        <td id="c-table">単価(税込)</td>
        <td id="c-table">数量</td>
        <td id="c-table">小計</td>
      </tr>
      <% @cart_items.each do |cart_item| %>
      <tr>
        <td>
          <% if cart_item.product.image_id.blank? %>
          <%= image_tag "no-image.jpg", alt:"写真", width:"55px", height:"40px" %>
          <% else %>
          <%= attachment_image_tag cart_item.product, :image, :fill, 150, 150, format: 'jpg', fallback: "no-image.jpg", size:'55x40' %>
          <% end %>
          <%= cart_item.product.name %>
        </td>
        <td>
          <%= tax_included_price(cart_item.product.price) %>
        </td>
        <td>
          <%= cart_item.amount %>
        </td>
        <td>
          <%= cart_item.amount * tax_included_price(cart_item.product.price) %>
        </td>
      </tr>
      <% end %>

    </table>
  </div>

  <div class="col-xs-3">
    <div id="all-price">
      <table class="table table-bordered">
        <tr>
          <td id="price-text" style="background-color: #f5f5f5;">送料</td>
          <td id="price-text"><%= params[:postage] %></td>
        </tr>
        <tr>
          <td id="price-text" style="background-color: #f5f5f5;">商品合計</td>
          <td id="price-text"><%= @total_price %></td>
        </tr>
        <tr>
          <td id="price-text" style="background-color: #f5f5f5;">請求金額</td>
          <td id="price-text"><%= params[:postage].to_i + @total_price %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-9">
    <div>
      <h2 class="o-sub-title" style="display:inline; font-size: 18px;">支払方法</h2>
      <% if params[:payment].to_i == 0 %>
      <p class="con-sub">クレジットカード</p>
      <% else %>
      <p class="con-sub">銀行振込</p>
      <% end %>
    </div>
    <div style="margin:30px 0;">
      <div style="float:left;">
        <h2 class="o-sub-title" style="display:inline; font-size: 18px;">お届け先</h2>
      </div>
      <div style="float:left; margin-left:20px;">
        <% if params[:address].to_i == 0 %>
          <p class="con-address"><%= "#{current_member.postal_code} #{current_member.address}" %><br>
          <%= "#{current_member.last_name} #{current_member.first_name}" %></p>
        <% elsif params[:address].to_i == 1 %>
          <% @address.each do |address| %>
            <% if address.id == params[:address_id].to_i %>
              <p class="con-address"><%= address.address_all %></p>
            <% end %>
          <% end %>
        <% else %>
          <p class="con-address"><%= "#{params[:new_postal_code]} #{params[:new_address]} #{params[:new_reciever]}" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= form_for @order, url: member_orders_path, method: :post do |f| %>
  <div class="form-order">
    <%= f.hidden_field :member_id, :value => current_member.id %>
    <%= f.hidden_field :total_price, :value => @total_price %>
    <%= f.hidden_field :postage, :value => 800 %>
    <%= f.hidden_field :payment, :value => params[:payment].to_i %>
<!-- 住所関連 -->
    <% if params[:address].to_i == 0 %>
      <%= f.hidden_field :reciever, :value => current_member.full_name %>
      <%= f.hidden_field :postal_code, :value => current_member.postal_code %>
      <%= f.hidden_field :address, :value => current_member.address %>
    <% elsif params[:address].to_i == 1 %>
      <% @address.each do |address| %>
        <% if address.id == params[:address_id].to_i %>
          <%= f.hidden_field :reciever, :value => address.reciever %>
          <%= f.hidden_field :postal_code, :value => address.postal_code %>
          <%= f.hidden_field :address, :value => address.address %>
        <% end %>
      <% end %>
    <% else %>
      <%= f.hidden_field :reciever, :value => params[:new_reciever] %>
      <%= f.hidden_field :postal_code, :value => params[:new_postal_code] %>
      <%= f.hidden_field :address, :value => params[:new_address] %>
    <% end %>
<!-- 住所関連 -->
    <%= f.hidden_field :order_status, :value => 0 %>
  </div>

  <div class="actions" style="text-align: center; margin-top:20px;">
    <%= f.submit "購入を確定する", class: "btn btn-success", id: "s-btn" %>
  </div>
<% end %>