<div class="mypage-title">
  <mark style="font-size: 20px;">注文履歴詳細</mark>
</div>

<div class="row">
  <div class="clearfix">
  <div class="col-xs-7">

    <b>注文情報</b>
    <table class="table table-bordered">
  	  
  	    <tr>
  		    <th style="vertical-align: middle">注文日</th>
  		    <td style="vertical-align: middle"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
  	    </tr>
  	    <tr>
  		    <th style="vertical-align: middle">配送先</th>
  		    <td style="vertical-align: middle">
  			    <%= @order.postal_code %><br>
  			    <%= @order.address %><br>
  			    <%= @order.reciever %>
  		    </td>
  	    </tr>
  	    <tr>
  		    <th style="vertical-align: middle">支払方法</th>
  		    <td style="vertical-align: middle">
  			   <% if @order.payment == 0 %>
  			   <p>クレジット</p>
  			   <% else %>
  			   <p>銀行振込</p>
  			   <% end %>
  		    </td>
  	    </tr>
  	    <tr>
  		    <th style="vertical-align: middle">ステータス</th>
  		    <td style="vertical-align: middle">
  		      <% if @order.order_status == 0 %>
  			    <p>入金待ち</p>
  			  <% elsif @order.order_status == 1 %>
  			    <p>入金確認</p>
  			  <% elsif @order.order_status == 2 %>
  			    <p>製作中</p>
  			  <% elsif @order.order_status == 3 %>
  			    <p>発送準備中</p>
  			  <% else %>
  			    <p>発送済み</p>
  			  <% end %>
  		    </td>
  	    </tr>
        
    </table>
  </div>

  <div class="col-xs-5">

    <b>請求情報</b>
    <table class="table table-bordered">
      <tr>
  	      <th style="vertical-align: middle">商品合計</th>
  		  <td style="vertical-align: middle"><%= @order.total_price %></td>
  	  </tr>
  	  <tr>
  	      <th style="vertical-align: middle">配送料</th>
  		  <td style="vertical-align: middle"><%= @order.postage %></td>
  	  </tr>
  	  <tr>
  	      <th style="vertical-align: middle">ご請求額</th>
  		  <td style="vertical-align: middle"><%= @order.total_price + @order.postage %></td>
  	  </tr>
    </table>
    </div>

  </div>

  <div class="col-xs-10">

    <b>注文内容</b>
    <table class="table table-bordered" >
  	  <thead>
  		<tr>
  		  <th style="width:300px">商品</th>
  		  <th style="width:80px">単価（税込）</th>
  		  <th style="width:50px">個数</th>
  		  <th style="width:50px">小計</th>
  		</tr>
  	  </thead>
    <% @order_details.each do |order_detail| %>
  	  <tbody>
  		<tr>
  		  <td><%= order_detail.product.name %></td>
  		  <td><%= order_detail.price %></td>
  		  <td><%= order_detail.amount %></td>
  		  <td><%= order_detail.price * order_detail.amount %></td>
  		</tr>
  	  </tbody>
    <% end %>
    </table>

  </div>
</div>