<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<div class="edit-title">
  <mark style="font-size: 20px;">配送先編集</mark>
</div>

<div class="row">
<div class="col-xs-7">

     <% if @address.errors.any? %>
   <div class="error_explanation">
      <p>
      	以下の<%= @address.errors.count %>件の不備があります。修正してもう一度登録してください。
      </p>
      <ul>
        <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
      <% end %>
    </div>

  　　<%= form_for @address, :url => {:action => :update} do |f| %>

  　　<table class="table table-bordeless">

  　　　　<tr>
  	　　　  <th>郵便番号（ハイフンなし）</th>
  	　　　  <td>
  		      <%= f.text_field :postal_code, autocomplete: "postal-code" %>
  		    </td>
  　　　　</tr>

  　　　　<tr>
  	　　　  <th>住所</th>
  	　　    <td>
  		      <%= f.text_field :address, :size=>"60", autocomplete: "address" %>
  		    </td>
  　　　　</tr>

  　　　　<tr>
  	　　    <th>宛名</th>
  	　　    <td>
  		     <%= f.text_field :reciever, autocomplete: "reciever" %>
  		    </td>
  　　　　</tr>

  　　</table>

  	  <%= f.submit("編集する",class: 'btn btn-primary') %>

  　　 <% end %>

</div>
</div>

</body>
