<h3>配送先登録/一覧</h3>

<%= form_for @address, :url => {:action => :index} do |f| %>

	<h4>郵便番号（ハイフンなし）</h4>
	<%= f.text_field :postal_code %>

	<h4>住所</h4>
	<%= f.text_area :address %>

	<h4>宛名</h4>
	<%= f.text_field :reciever %>

	<%= f.submit("登録する",class: 'btn btn-success') %>

<% end %>

<table class="table">
	<thead>
		<tr>
			<th>郵便番号</th>
			<th>住所</th>
			<th>宛名</th>
			<th></th>
		</tr>
	</thead>
	<% @addresses.each do |address| %>
	<tbody>
		<tr>
			<td><%= address.postal_code %></td>
			<td><%= address.address %></td>
			<td><%= address.reciever %></td>
			<td>
				<%= link_to edit_member_address_path(@member.id,address.id), class: "btn btn-primary" %>
				<%=link_to "Destroy", member_address_path(), method: :delete, "data-confirm" => "Are you sure？", class: "btn btn-danger" %>
			</td>
		</tr>
	</tbody>
	<% end %>
</table>
