<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>商品一覧</h1>
    <div class="add">
      <%= link_to "+", new_admins_product_path, class: "btn btn-default" %>
    </div>
    <table class="table table-inverse margin-30">
      <thead>
        <tr class="active">
          <th style="width:10%">商品ID</th>
          <th style="width:30%">商品名</th>
          <th style="width:15%">税抜価格</th>
          <th style="width:30%">ジャンル</th>
          <th style="width:15%">ステータス</th>
        </tr>
      </thead>

      <tbody>
      <%# each予定 %>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= link_to product.name, admins_product_path(product) %></td>
          <td>¥<%= product.price %></td>
          <td><%= product.category.name %></td>
          <td>
            <% if product.is_saling? %>
              販売中
            <% else %>
              販売停止中
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="paginate-tag">
      <%= paginate @products %>
    </div>

  </div>
</div>
