<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="col-md-9">
      <div style="margin: 0px 0px 30px 23px;">
        <mark style="font-size: 20px;">商品一覧</mark>
      </div>
    </div>

    <div class="col-md-3">
      <div class="add">
        <%= link_to "+", new_admins_product_path, class: "btn btn-default" %>
      </div>
    </div>

    <table class="table table-inverse margin-30">
      <% if @products.any? %>
        <thead>
          <tr class="active">
            <th style="width:10%">商品ID</th>
            <th style="width:30%">商品名</th>
            <th style="width:15%">税抜価格</th>
            <th style="width:30%">ジャンル</th>
            <th style="width:15%">ステータス</th>
          </tr>
        </thead>
        
        <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name, admins_product_path(product) %></td>
            <td>¥<%= product.price %></td>
            <td><%= product.category.name %></td>
            <td>
              <% if product.is_saling? %>
                販売中
              <% else %>
                販売停止中
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      <% else %>
        <p>検索に該当する商品はありません</p>
      <% end %>
    </table>
    <div class="paginate-tag">
      <%= paginate @products %>
    </div>

  </div>
</div>
