<div class="row">
  <div class="col-xs-2">
    <div class="category border">
      <div class="c-search">
        <h4>ジャンル検索</h4>
      </div>
      <!--eachを使用予定-->
      <div class="c-name">
        <p>ジャンル名</p>
      </div>
      <div class="c-name">
        <p>ジャンル名</p>
      </div>
      <div class="c-name">
        <p>ジャンル名</p>
      </div>
      <div class="c-name">
        <p>ジャンル名</p>
      </div>
      <div class="c-name">
        <p>ジャンル名</p>
      </div>
      <!--eachを使用予定-->
    </div>
  </div>

  <div class="col-xs-10">
    <h2 class="product-title" style="margin-top:0;">商品一覧(全x件)</h2><br>
    <!--eachを使用予定-->
    <div class="product">
      <div class="p-image"></div>
      <%= link_to "商品名", "#" %>
      <p>¥0,000</p>
    </div>
    <div class="product">
      <div class="p-image"></div>
      <%= link_to "商品名", "#" %>
      <p>¥0,000</p>
    </div>
    <div class="product">
      <div class="p-image"></div>
      <%= link_to "商品名", "#" %>
      <p>¥0,000</p>
    </div>
    <div class="product">
      <div class="p-image"></div>
      <%= link_to "商品名", "#" %>
      <p>¥0,000</p>
    </div>
    <div class="product">
      <div class="p-image"></div>
      <%= link_to "商品名", "#" %>
      <p>¥0,000</p>
    </div>
    <div class="product">
      <div class="p-image"></div>
      <%= link_to "商品名", "#" %>
      <p>¥0,000</p>
    </div>
    <div class="product">
      <div class="p-image"></div>
      <%= link_to "商品名", "#" %>
      <p>¥0,000</p>
    </div>
    <div class="product">
      <div class="p-image"></div>
      <%= link_to "商品名", "#" %>
      <p>¥0,000</p>
    </div>
    <!--eachを使用予定-->
    <div class="paginate">
      <p><< 1 2 3 4 5 >></p>
    </div>
  </div>
</div>