<div class="mypage-title">
  <mark style="font-size: 20px;">マイページ</mark>
</div>

<div class="row">
<div class="col-xs-7">

<div>
<h1 class="main-title">登録情報</h1>
<%=  link_to "編集する", edit_member_path, class:"btn btn-primary" %>
<%=  link_to "パスワードを変更する", new_member_password_path, class:"btn btn-primary",style:"margin-left:10px;" %>
</div>
<table class="table table-bordered">
  <tr>
    <div class="field">
      <th style="width:200px;">氏名</th>
      <td>
        <%= "#{@member.last_name}　#{@member.first_name}" %>
      </td>
    </div>
  </tr>

  <tr>
    <div class="field">
      <th>カナ</th>
      <td>
      <%= "#{@member.kana_last_name}　#{@member.kana_first_name}" %>
      </td>
    </div>
  </tr>

  <tr>
    <div class="field">
      <th>郵便番号</th>
      <td>
      <%= @member.postal_code %>
      </td>
    </div>
  </tr>

  <tr>
    <div class="field">
      <th>住所</th>
      <td>
      <%= @member.address %>
      </td>
    </div>
  </tr>

  <tr>
    <div class="field">
      <th>電話番号</th>
      <td>
      <%= @member.phone_number %>
      </td>
    </div>
  </tr>

  <tr>
    <div class="field">
      <th>メールアドレス</th>
      <td>
      <%= @member.email %>
      </td>
    </div>
  </tr>

</table>
<div>
  <h1 class="main-title" style="margin-right:26px;">配送先</h1>
  <%=  link_to "一覧を見る", "/members/#{@member.id}/addresses", class:"btn btn-primary"%>
</div>
<div>
  <h1 class="main-title">注文履歴</h1>
  <%=  link_to "一覧を見る", "/members/#{@member.id}/orders", class:"btn btn-primary" %>
</div>
</div>
</div>
